<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.CaselistMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Caselist">
        <id column="id" property="id"/>
        <result column="caseTitle" property="caseTitle"/>
        <result column="caserequest" property="caserequest"/>
        <result column="inputParameter" property="inputParameter"/>
        <result column="outputParameter" property="outputParameter"/>
        <result column="header" property="header"/>
        <result column="asserts" property="asserts"/>
        <result column="assertresult" property="assertresult"/>
        <!--        <result column="createtime" property="createtime"/>-->
        <!--        <result column="updateTime" property="updateTime"/>-->
        <!--        <result column="enabled" property="enabled"/>-->
        <result column="interfaceid" property="interfaceid"/>
        <result column="asserttype" property="asserttype"/>
        <association property="face" column="interfaceid" javaType="com.example.server.pojo.Interface">
            <id column="ids" property="id"/>
            <result column="classificationid" property="classificationid"/>
            <result column="interfaceName" property="interfaceName"/>
            <result column="interfaceUrl" property="interfaceUrl"/>
            <result column="method" property="method"/>
            <!--            <result column="createtime" property="createtime" />-->
            <!--            <result column="updateTime" property="updateTime" />-->
            <!--            <result column="enabled" property="enabled" />-->
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , caseTitle, caserequest, inputParameter, outputParameter, header, asserts, assertresult, createtime, updateTime, enabled,interfaceid,asserttype
    </sql>
    <insert id="insert" parameterType="com.example.server.pojo.Caselist">
        insert into caselist (caseTitle, caserequest, asserts, assertresult, createtime, interfaceid, asserttype)
        values (#{caseTitle}, #{caserequest}, #{asserts}, #{assertresult}, #{createtime}, #{interfaceid}, #{asserttype})
    </insert>
    <update id="update" parameterType="com.example.server.pojo.Caselist">
        update caselist
        set caseTitle=#{caseTitle},
            caserequest=#{caserequest},
            inputParameter=#{inputParameter},
            outputParameter=#{outputParameter},
            header=#{header},
            asserts=#{asserts},
            assertresult=#{assertresult},
            updateTime=#{updateTime},
            interfaceid=#{interfaceid},
            asserttype=#{asserttype}
        where id = #{id}
    </update>
    <select id="select" parameterType="com.example.server.pojo.Caselist" resultType="com.example.server.pojo.Caselist">
        select *
        from caselist
        where interfaceid = #{interfaceid}
          and enabled = true
    </select>
    <update id="delete" parameterType="com.example.server.pojo.Caselist">
        update caselist
        set enabled= false
        where id = #{id}
    </update>
    <select id="groupcase" resultType="com.example.server.pojo.Caselist">
        select * from caselist
        <where>
            <foreach collection="id" open="id in(" close=")" item="ids" separator=",">
                #{ids}
            </foreach>
        </where>
    </select>
    <select id="vaguecase" parameterType="com.example.server.pojo.Caselist"
            resultType="com.example.server.pojo.Caselist">
        select *
        from caselist
        where caseTitle like concat('%', #{caseTitle,jdbcType=VARCHAR}, '%')
          and enabled = true
    </select>

    <select id="casestart" parameterType="int" resultMap="BaseResultMap">
        select a.id,
               a.caseTitle,
               a.caserequest,
               a.inputParameter,
               a.outputParameter,
               a.header,
               a.asserts,
               a.assertresult,
               a.interfaceid,
               a.asserttype,
               b.id ids,
               b.classificationid,
               b.interfaceName,
               b.interfaceUrl,
               b.method
        from caselist a
                 join interface b on a.interfaceid = b.id
        where a.id = #{id}
          and a.enabled = true
    </select>
</mapper>
