<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.ClassificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Classification">
        <id column="id" property="id" />
        <result column="superiorid" property="superiorid" />
        <result column="classification" property="classification" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="enabled" property="enabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, superiorid, classification, createtime, updatetime, enabled
    </sql>
    <insert id="insert" parameterType="com.example.server.pojo.Classification">
        insert into classification(superiorid,classification,createtime)
        values (#{superiorid},#{classification},#{createtime})
    </insert>
    <update id="update" parameterType="com.example.server.pojo.Classification">
        update classification set superiorid=#{superiorid},classification=#{classification},updatetime=#{updatetime}
        where id=#{id}
    </update>
    <update id="delete" parameterType="com.example.server.pojo.Classification">
        update classification set enabled=false where id=#{id}
    </update>
    <select id="select" resultType="com.example.server.pojo.Classification">
        select * from classification where enabled=true
    </select>

</mapper>
