<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.DatabugMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Databug">
        <id column="id" property="id" />
        <result column="datatype" property="datatype" />
        <result column="datakey" property="datakey" />
        <result column="datavalue" property="datavalue" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="active" property="active" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, datatype, datakey, datavalue, createtime, updatetime, active
    </sql>

</mapper>
