<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.ReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Report">
        <id column="id" property="id" />
        <result column="successsum" property="successsum" />
        <result column="failsum" property="failsum" />
        <result column="casesum" property="casesum" />
        <result column="successnamelist" property="successnamelist" />
        <result column="failurenamelist" property="failurenamelist" />
        <result column="createtime" property="createtime" />
        <result column="isdelete" property="isdelete" />
        <result column="tasksname" property="tasksname" />
        <result column="status" property="status" />
        <result column="updatetime" property="updatetime" />
        <result column="starttime" property="starttime" />
        <result column="endtime" property="endtime" />
        <result column="performtasksid" property="performtasksid"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, successsum, failsum, casesum, successnamelist, failurenamelist, createtime, isdelete, tasksname, status, updatetime, starttime, endtime,performtasksid
    </sql>
    <insert id="reportinsert" parameterType="com.example.server.pojo.Report">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
            select LAST_INSERT_ID() as id
        </selectKey>
        insert into report(casesum,createtime,tasksname,status,performtasksid)
        values (#{casesum},#{createtime},#{tasksname},#{status},#{performtasksid})
    </insert>
    <select id="select" parameterType="int" resultType="com.example.server.pojo.Report">
        select * from report where id=#{id} and isdelete=0
    </select>
    <update id="update" parameterType="com.example.server.pojo.Report" >
        update report set successsum=#{successsum},failsum=#{failsum},successnamelist=#{successnamelist},failurenamelist=#{failurenamelist},createtime=#{createtime},
                          status=#{status},updatetime=#{updatetime},starttime=#{starttime},endtime=#{endtime} where id=#{id}
    </update>

</mapper>
