<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.SceneclassificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Sceneclassification">
        <id column="id" property="id" />
        <result column="superiorid" property="superiorid" />
        <result column="scenename" property="scenename" />
        <result column="createtime" property="createtime" />
        <result column="updateTime" property="updateTime" />
        <result column="enabled" property="enabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, superiorid, scenename, createtime, updateTime, enabled,casegroup
    </sql>
    <insert id="insert" parameterType="com.example.server.pojo.Sceneclassification">
        insert into sceneclassification (superiorid,scenename,createtime)
         values(#{superiorid},#{scenename},#{createtime})
    </insert>
    <update id="update" parameterType="com.example.server.pojo.Sceneclassification">
        update sceneclassification set superiorid=#{superiorid},scenename=#{scenename},updateTime=#{updateTime}
        where id=#{id}
    </update>
    <update id="delete" parameterType="com.example.server.pojo.Sceneclassification">
        update sceneclassification set enabled=false where id=#{id} and casegroup=null
    </update>
    <select id="select" parameterType="com.example.server.pojo.Sceneclassification" resultType="com.example.server.pojo.Sceneclassification">
        select * from sceneclassification where enabled=true
    </select>
    <update id="addcase" parameterType="com.example.server.pojo.Sceneclassification">
        update sceneclassification set casegroup=#{casegroup} where id=#{id}
    </update>

    <select id="scenestart" parameterType="int" resultType="com.example.server.pojo.Sceneclassification">
        select * from sceneclassification where id=#{id} and enabled=true
    </select>

</mapper>
