<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.SceneclassificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.Sceneclassification">
        <id column="id" property="id" />
        <result column="scenename" property="scenename" />
        <result column="createtime" property="createtime" />
        <result column="updateTime" property="updateTime" />
        <result column="isdelete" property="isdelete" />
        <result column="casegroup" property="casegroup"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, scenename, createtime, updateTime, isdelete,casegroup
    </sql>
    <insert id="insert" parameterType="com.example.server.pojo.Sceneclassification">
        insert into sceneclassification (scenename,createtime,casegroup)
         values(#{scenename},#{createtime},#{casegroup})
    </insert>
    <update id="update" parameterType="com.example.server.pojo.Sceneclassification">
        update sceneclassification set scenename=#{scenename},casegroup=#{casegroup},updateTime=#{updateTime}
        where id=#{id}
    </update>
    <update id="delete" parameterType="com.example.server.pojo.Sceneclassification">
        update sceneclassification set isdelete=1 where id=#{id}
    </update>
    <select id="select" parameterType="com.example.server.pojo.Sceneclassification" resultType="com.example.server.pojo.Sceneclassification">
        select * from sceneclassification where isdelete=0
    </select>
    <update id="addcase" parameterType="com.example.server.pojo.Sceneclassification">
        update sceneclassification set casegroup=#{casegroup} where id=#{id}
    </update>

    <select id="scenestart" parameterType="int" resultType="com.example.server.pojo.Sceneclassification">
        select * from sceneclassification where id=#{id} and isdelete=0
    </select>

</mapper>
